[Unit]
Description = BonDriverProxy
After = network-online.target

[Service]
Type = simple
ExecStart = /usr/local/bin/BonDriverProxy 0.0.0.0 1192
Restart = always

[Install]
WantedBy = multi-user.target
