[Unit]
Description = BonDriverProxyEx
After = network-online.target

[Service]
Type = simple
ExecStart = /usr/local/bin/BonDriverProxyEx
Restart = always

[Install]
WantedBy = multi-user.target
